<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Begin page content -->
<main class="flex-shrink-0" th:fragment="noticeMainForList">
    <div class="container">
        <h1 class="mt-5">Notice</h1>
        <p th:text="'총 건수, ' + ${#lists.size(noticeList)}" >홍길동!!!!</p>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">content</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <th scope="row" th:text="${notice.id}">1</th>
                <td><a th:text="${notice.title}" th:href="@{/notice/form(id=${notice.id})}">title</a></td>
                <td th:text="${notice.content}">content</td>
            </tr>
            </tbody>
        </table>

        <div class="text-end">
            <a type="button" class="btn btn-outline-primary" th:href="@{/notice/form}">write notice</a>
        </div>
    </div>
</main>

