<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Begin page content -->
<main class="flex-shrink-0" th:fragment="noticeMainForForm">
    <div class="container">
        <h1 class="mt-5">Notice</h1>

        <form action="#" th:action="@{/notice/}" th:method="post" th:object="${noticeList}" >
<!--            <input type="hidden" th:text="*{id}?:'0'">-->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">제목</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:text="*{content}"></textarea>
            </div>
            <a type="button" class="btn btn-info" th:href="@{/notice/}" >List</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
